*.suo
*.user
*.pdb
*.exe*
*.vshost.exe.*
Bin/
Obj/
Debug/
Release/
Packages/
node_modules/
.vs/


eqlog*.txt
spells_us*.txt*
dbstr_us*.txt*
SpellStackingGroups*.txt*
manifest.dat
*.zip
*.gz
*.lnk
/server
/server/wwwroot/json
/server-python
/firebase